{{extend 'layout.html'}}
<div class='ver_textos_voltar'>
{{=P(A('Voltar', _href=URL(a='conteudo', c='textos', f='index')))}}
</div>
<center>
<div class='ver_textos_texto'>
{{=TEXTAREA(texto.conteudo, _readonly='readonly', _rows='20')}}
</div>
</center>
<br />
<div class='ver_textos_menu'>
<ul>
{{if len(texto.fonte):}}
{{=LI(SPAN("Fonte: ", A(texto.fonte, _href=URL('buscar', vars=dict(fonte=texto.fonte)))))}}
{{pass}}
{{if len(texto.autor):}}
{{=LI(SPAN("Autor: ", A(texto.autor, _href=URL('buscar', vars=dict(autor=texto.autor)))))}}
{{pass}}
{{if len(texto.licenca):}}
{{=LI(SPAN("Licença: ", A(texto.licenca, _href=URL('buscar', vars=dict(licenca=texto.licenca)))))}}
{{pass}}
{{if len(texto.email):}}
{{=LI(SPAN("E-mail: ", A(texto.email, _href=URL('buscar', vars=dict(email=texto.email)))))}}
{{pass}}
</ul>
</div>
<div class='ver_textos_tags'>
{{if len(tags):}}
<ul>
{{=LI('Tags: ', _class='tags_titulo')}}
{{for tag in tags:}}
	{{=LI(A("#", tag.tag, _href=URL('buscar', vars=dict(tag=tag.tag))), SPAN('(',tag.rank,')'), A(IMG(_src=URL('static','images/mais.png'),_alt='mais')), A(IMG(_src=URL('static','images/menos.png'),_alt='menos')), _class='tags_tag')}}
{{pass}}
</ul>
{{pass}}
{{=formT}}
</div>
<div class='ver_textos_comentarios'>
{{if len(comentarios):}}
	{{=H4('Comentários')}}
	<p>
	{{for comentario in comentarios:}}
		<p>{{if len(comentario.email):}}
		{{=A(comentario.autor, _href="mailto:"+comentario.email)}}
		{{else:}}
		{{=comentario.autor}}
		{{pass}} diz: <i>{{=comentario.conteudo}}</i></p>
	{{pass}}
	</p>
{{else:}}
	{{=H4("Nenhum comentário ainda. Incentive a dissidência e o contraditório dando a tua opinião:")}}
{{pass}}
{{=H3('Comentar')}}
{{=formC}}
</div>

