*
.*
!.gitignore
!routes.py
!routes.web2py.py
!README.md
!LICENSE
!UNLICENSE
*.pyc
*.pyo
*~
*.swo
*.swp
*.w2p
*.class
databases/*
sessions/*
errors/*
cache/*
uploads/*
models/00_domainname.py
models/01_db.py
