__init__.py
.*
!.gitignore
*.pyc
*.pyo
*~
*.swo
*.swp
*.w2p
*.class
applications/midiacapoeira/databases/*
applications/midiacapoeira/sessions/*
applications/midiacapoeira/errors/*
applications/midiacapoeira/cache/*
applications/midiacapoeira/uploads/*
applications/midiacapoeira/routes.example.py
