.*
!.gitignore
.DS_Store
index.yaml
routes.py
logging.conf
gluon/tests/VERSION
gluon/tests/sql.log
httpserver.log
httpserver.pid
parameters*.py
cron.master
*
!conteudo
!conteudo/*
!init
!init/*
*.pyc
*.pyo
*~
*.w2p
*.class
*/databases/*
*/sessions/*
*/errors/*
*/cache/*
*/uploads/*
