{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
{{=H3(message)}}
{{=H4("Links relevantes do projeto")}}
{{=H5("Projeto no Trac:")}}
{{=P("Esta ferramenta serve para registrar e controlar mudanças, tarefas, sugestões, coisas a fazer, etc: ")}}
<center>
{{=A(
	'projetos.hi.ato.br/midiacapoeira',
	_href='http://projetos.hi.ato.br/midiacapoeira',
	_target='_blank',
	_class='url_grande',
)}}
</center>
{{=H5("Pad aberto:")}}
{{=P("Este documento de edição colaborativa serve para interferir e monitorar as ideias por trás deste projeto: ")}}
<center>
{{=A(
	'pad.hi.ato.br/p/MidiaCapoeira',
	_href='http://pad.hi.ato.br/p/MidiaCapoeira',
	_target='_blank',
	_class='url_grande',
)}}
</center>
{{=H5("Repositório no Github:")}}
{{=P("O repositório é aonde fica o código fonte deste site: ")}}
<center>
{{=A(
	'github.com/hiatobr/midiacapoeira.in',
	_href='https://github.com/hiatobr/midiacapoeira.in',
	_target='_blank',
	_class='url_grande',
)}}
</center>
{{=H4("Redes sociais")}}
{{=H5("Reddit:")}}
{{=P("O canal oficial de notícias deste site é um subreddit no seguinte endereço: ")}}
<center>
{{=A(
	'reddit.com/r/midiacapoeira',
	_href='http://www.reddit.com/r/midiacapoeira',
	_target='_blank',
	_class='url_grande',
)}}
</center>
{{=H5("Facebook:")}}
{{=P("Esta é a página oficial da Mídia Capoeira no Facebook. Não serve pra nada e é o último lugar aonde alguém vai responder: ")}}
<center>
{{=A(
	'facebook.com/MídiaCapoeira',
	_href='https://facebook.com/MidiaCapoeira',
	_target='_blank',
	_class='url_grande',
)}}
</center>
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{block right_sidebar}}
{{=H4('Todas as páginas')}}
{{=UL(
	LI(
		A(
			'Sobre',
			_href=URL('index'),
		),
	),
	LI(
		A(
			'Contato',
			_href=URL('contato'),
		),
	),
	LI(
		A(
			'Conteúdo',
			_href=URL('conteudo'),
		),
	),
	LI(
		A(
			'Editoriais',
			_href=URL('editoriais'),
		),
	),
	LI(
		A(
			'Licença',
			_href=URL('licenca'),
		),
	),
	LI(
		A(
			'Links',
			_href=URL('links'),
		),
	),
	LI(
		A(
			'Manifesto',
			_href=URL('manifesto'),
		),
	),
	LI(
		A(
			'Política',
			_href=URL('politica'),
		),
	),
	LI(
		A(
			'Referências',
			_href=URL('referencias'),
		),
	),
	LI(
		A(
			'Termos',
			_href=URL('termos'),
		),
	),
)}}
{{end}}
