{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
{{=H3(message)}}
{{=H2("Em construção")}}
{{=P("Eu não sou pago por hora, tenha paciência!")}}
{{=P("Enquanto isto, explore o que já está funcionando e dê feedback, é importante e mais útil que dinheiro.")}}
{{=P("Se não quiser dar feedback, me da café. Me chama pra tomar café que eu vou mesmo.")}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{block right_sidebar}}
{{=H4('Todas as páginas')}}
{{=UL(
	LI(
		A(
			'Sobre',
			_href=URL('index'),
		),
	),
	LI(
		A(
			'Contato',
			_href=URL('contato'),
		),
	),
	LI(
		A(
			'Conteúdo',
			_href=URL('conteudo'),
		),
	),
	LI(
		A(
			'Editoriais',
			_href=URL('editoriais'),
		),
	),
	LI(
		A(
			'Licença',
			_href=URL('licenca'),
		),
	),
	LI(
		A(
			'Links',
			_href=URL('links'),
		),
	),
	LI(
		A(
			'Manifesto',
			_href=URL('manifesto'),
		),
	),
	LI(
		A(
			'Política',
			_href=URL('politica'),
		),
	),
	LI(
		A(
			'Referências',
			_href=URL('referencias'),
		),
	),
	LI(
		A(
			'Termos',
			_href=URL('termos'),
		),
	),
)}}
{{end}}
