{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
<h3>{{=message}}</h3>
<p>Aqui deveria ter uma p&aacute;gina exatamente igual &agrave;s de {{=A('Narrativas textuais', _href=URL('textos', 'index'))}} e
{{=A('Registros fotográficos', _href=URL('imagens', 'index'))}}.</p>
<p>Eu n&atilde;o sou pago por hora, tenha paci&ecirc;ncia&excl;</p>
<p>Enquanto isto, explore o que j&aacute; est&aacute; funcionando e d&ecirc; feedback, &eacute; importante e mais &uacute;til que dinheiro.</p>
<p>Se n&atilde;o quiser dar feedback, me da caf&eacute;.</p>
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{block right_sidebar}}
<h4>Links do projeto</h4>
<ul>
	<li><a href="http://padeiro.hi.ato.br/p/MidiaCapoeira" target="_blank">Pad</a>:<br />Documento colaborativo com documenta&ccedil;&atilde;o - aberto a edi&ccedil;&otilde;es e contribui&ccedil;&otilde;es&excl;</li>
	<li>{{=A('Chat', _href=URL('chat', 'index'))}}:<br />Chat via WebIrc (freenode) - eu n&atilde;o fico o dia inteiro online, mande mensagem e aguarde&excl;</li>
	<li><a href="mailto:capoeira@riseup.net">E-mail</a>:<br />Para entrar em contato diretamente com o autor, envie e-mail para capoeira&#64;riseup.net</li>
</ul>
{{end}}
