{{extend 'layout.html'}}
<div class='ver_imagens_voltar'>
{{=A('Voltar', _href=URL(a='conteudo', c='imagens', f='index'))}}
</div>
<center>
<div class='ver_imagens_imagem'>
<img src="{{=URL('imagens_download', args=imagem.arquivo)}}" />
</div>
</center>
{{if len(comentarios):}}
	{{=H4('Comentários')}}
	<p>
	{{for comentario in comentarios:}}
		<p>{{if len(comentario.email):}}
		{{=A(comentario.autor, _href="mailto:"+comentario.email)}}
		{{else:}}
		{{=comentario.autor}}
		{{pass}} diz: <i>{{=comentario.conteudo}}</i></p>
	{{pass}}
	</p>
{{else:}}
	{{=H4("Nenhum comentário ainda. Incentive a dissidência e o contraditório dando a tua opinião:")}}
{{pass}}
{{=H3('Comentar')}}
{{=formC}}

